<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Chan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Chan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Chan.Properties.Settings>
      <setting name="BlockFilePath" serializeAs="String">
        <value>D:\虚拟机共享\new_tdx\T0002\blocknew</value>
      </setting>
    </Chan.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Chan.Properties.Settings>
      <setting name="OriginalDataPath" serializeAs="String">
        <value>D:\虚拟机共享\new_tdx\vipdoc</value>
      </setting>
      <setting name="InitStockNumber" serializeAs="String">
        <value>999999</value>
      </setting>
      <setting name="KGrade" serializeAs="String">
        <value>240</value>
      </setting>
    </Chan.Properties.Settings>
  </applicationSettings>
</configuration>